{{define "content"}} 

<p>Hier kannst du dein .json-File importieren! </p>
<form method="POST" action="/expenses" enctype="multipart/form-data">
  <input type="file" name="moneten">
  <button>DRÜCK MICH </button>
</form>


{{end}}
