{{define "content"}} 

<h1>Money-Penny</h1>

<p>Hier kannst du dein File importieren!!!111!!1 ;-) </p>
<form method="POST" action="/expenses" enctype="multipart/form-data">
  <input type="file" name="moneten">
  <button>NICHT DRÜCKEN</button>
</form>


{{end}}
