{{define "content"}}
  <div class="info-area padded">
    <div class="info-container">
      <a id="about-button" class="button" href="/about.html">?</a>
      <button id="copy-button" class="button" style="display:none;" onclick="copyToClipboard()">copy</button>
    </div>
  </div>

  <div class="selected-area padded">
    <ul id="selected-plants"></ul>
  </div>

  <form class="selection-form padded" onsubmit="return selectFirstPlant()">
    <input type="text" id="plant-search" class="text-input"
           placeholder="Plant name..."
           autofocus
           oninput="search()">
    <input type="submit" class="button" value="Select">
  </form>

  <div class="suggestion-area padded">
    <ul id="suggestions"></ul>
  </div>

  <script>
    const plantGuilds = new Map(
      Object.entries(JSON.parse({{ .PlantLexiconJSON }})));

    populateSuggestions("");
    updateSuggestions("");
  </script>
{{end}}
