:root {
  --white: #ffffff;
  --black: #141414;
  --highlight: #a01ed9;
  --light-highlight: #d174fa;
  --ultra-light-highlight: rgba(209, 116, 250, 0.31);
  --dark: rgb(0, 23, 62);
}

body {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .5em;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
  font-family: sans-serif;
}

#content {
  width: 100%;
  max-width: 40em;
  margin-top: 1em;
}

h1 {
  font-family: serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  text-decoration-thickness: 4px;
  margin-bottom: 1.2em;
}

code,
pre {
  /* font-family: Koomik;
  font-size: .8em; */
  color: var(--light-highlight);
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--dark);
  border: dotted var(--highlight) 1px;
}

pre,
aside {
  border: none;
  border-radius: 4px;
  border-left: solid var(--highlight) 5px;
  padding: 5px 10px;
  color: var(--white);
}

pre {
  overflow-x: scroll;
}

a {
  color: var(--black);
  text-decoration: none;
  border-bottom: solid 2px var(--highlight);
}

a:hover {
  background-color: var(--ultra-light-highlight);
}

aside {
  background-color: var(--ultra-light-highlight);
  color: var(--black);
}

nav#nav-bar {
  width: 100%;
  max-width: 40em;
  height: 2.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px var(--black);
}

nav#nav-bar>a {
  border-bottom: solid 2px rgba(0, 0, 0, 0);
}

nav#nav-bar>a:hover {
  border-bottom: solid 2px var(--highlight);
}

#nav-logo {
  font-size: 1.5em;
}
#nav-logo>img {
  width: 1em;
  margin-top: .4em;
}

.sitemap>ul {
  padding: 0;
}

.sitemap>ul>li {
  margin-bottom: 10px;
  list-style: none;
}

.shadow {
  border-radius: 5px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, .6);
}