:root {
    --text-color: #f1f0f0;
    --primary-color: #6a5acd;
    --secondary-color: #ff69b4;
    --accent-color: #dda0dd;
    --highlight-color: #ffd700;
    --background-gradient-end: #4c1ba6;
    --background-gradient-start: #050311;
    --button-color: #ffb6c1;
    --button-hover-color: #add8e6;
    --border-radius: 10px;
}

@keyframes hover {
	0%   {
		transform: translateY(0px);
	}
	50%  {
		transform: translateY(-5px);
	}
    100%  {
		transform: translateY(0px);
	}
}

@font-face {
    font-family: 'Chilanka-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/Chilanka-Regular.ttf?h=1');
}

body {
    font-family: 'Chilanka-Regular', sans-serif;
    font-size: large;
    background: linear-gradient(180deg, var(--background-gradient-start), var(--background-gradient-end));
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 1em;   
    color: var(--text-color);
    text-align: center;
    font-family: 'Chilanka-Regular', sans-serif;
    font-size: x-large;
    border-radius: var(--border-radius);
    position: relative; /* Header ist nicht fixiert */
}

header a {
    color: var(--accent-color); /* Pflaume */
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 2em;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em; /* Platz für den Header */
    z-index: 1; /* Sicherstellen, dass der Inhalt über dem Hintergrund liegt */
    position: relative; /* Position relativ zum Header */
}

footer {
    width: 100%;
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-family: 'Chilanka-Regular', sans-serif;
    border-radius: var(--border-radius);
    position: relative;
}

button {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Chilanka-Regular', sans-serif;
	background: none;
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: .6em .7em .4em .7em;
    border: solid 3px;
	cursor: pointer;
	transition: all ease .3s;
}

button:hover, .primary:hover {
    color: #6ac4c8;
	animation-name: hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

input[type=text] {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Chilanka-Regular', sans-serif;
	background: rgba(95, 102, 177, 0.25);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: .6em .7em .4em .7em;
    border: solid 3px;
}
