Subject: File-Share Login
From: {{.Data.sender}}
Content-Type: text/html; charset="UTF-8"

<!DOCTYPE html>
<html lang="en">

  <body>
    <div id="content">
      {{block "content" .}}
	  <p>The correct content could not be rendered.</p>
	  {{end}}
	</div>
  </body>

</html>
