{{define "content"}}

<div class="recipe">
  <form method="POST" action="/recipes">
	<textarea id="recipe"></textarea>
	  <input class="primary" type="submit" value="Create"></input>
	  </form>
</div>

{{end}}
