{{define "content"}}

<div>
  <h1>Meal plan for week {{.Data.Week}}</h1>
  
  {{block "recipe" .}}
  {{range .Data.Recipes }}
  <div class="recipe-card">
	<a href="/recipes/{{.ID}}">
	  <h3>{{.Title}}</h3>
	  <span>{{.TimeToCompleteMin}} min</span>
	</a>
	
	<button class="secondary"
			hx-get="/meal-plans/reroll/{{.ID}}"
			hx-target="closest .recipe-card"
			hx-swap="outerHTML">Reroll</button>
  </div>
  {{end}}
  {{end}}

  <form method="POST" action="/meal-plans">
	<input type="hidden" name="week" value="{{.Data.Week}}"></input>
	{{range .Data.Recipes }}
	<input type="hidden" name="recipeID" value="{{.ID}}"></input>
	{{end}}

	<input class="primary" type="submit" value="Create"></input>
  </form>
</div>

{{end}}
