{{define "content"}}

<h2>New Share Invite</h2>

<p>
  Invite a user to share all of your recipes and meal plans with each other.
</p>

<form class="form" method="POST" action="./invite">
  <div class="form-group">
	<label for="email">E-mail:</label>
	<input type="email" id="email" name="email">
  </div>

  <input class="primary" type="submit" value="Invite"></input>
</form>

{{end}}
