{{define "content"}}

<h2>New Share Invite</h2>

<p>Your share invite has been sent!</p>

<p>
  If the user does not recive an
  E-mail after a couple of minutes please verify that you entered the
  correct E-mail address.
</p>

{{end}}
