Subject: Solvent Login
From: eldelto.net <no-reply@eldelto.net>
Content-Type: text/html; charset="UTF-8"

<!DOCTYPE html>
<html>
<body style="background-color: #14bca8;">

<div style="padding: 20px; border-radius: 10px; background-color: #f6f7eb; border: dashed 1px black;">

<h1>Solvent Login</h1>

<p style="margin-bottom: 20px;">Click the following link to complete the login procedure:</p>
<a style="background-color: #14bca8; border-radius: 6px; border-bottom: solid 2px #21897e; color: #f6f7eb; padding: 7px 15px; text-decoration: none;" href='{{.Host}}/auth/session?token={{.Token}}'>Login</a>

<p style="margin-bottom: 20px; margin-top: 2em;">When logging in on another device, please enter the digits below into the Solvent website:</p>
<h2>{{.Token}}</h2>

<p style="opacity: .5; margin-top: 30px;">If you did not try to login into your account you can safely ignore this E-mail.</p>

</div>

</body>
</html>