.grid-5x6 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    width: 80vw;
    height: 96vw;
    max-width: 80vh;
    max-height: 96vh;
    gap: 3px;
    background-color: #c7c2c2;
    border: solid 3px #c7c2c2;

}

.tile {
    border: dotted 6px rgba(0, 0, 0, 0);
    transition: border ease 1s;
    position: relative;
}

.tile:nth-child(odd) {
    background-color: plum;
}

.tile:nth-child(even) {
    background-color: powderblue;
}

.tile:hover {
    border: dotted 6px #a1de4d;
}

.selected.selected {
    border: solid 6px #a1de4d;
}

.center-1 {
    background-image: url("/assets/tiles/center-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-1 {
    background-image: url("/assets/tiles/mid-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-1 {
    background-image: url("/assets/tiles/outer-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
