.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 96vw;
    height: 80vw;
    max-width: 96vh;
    max-height: 80vh;
    gap: 3px;
    background-color: #c7c2c2;
    border: solid 3px #c7c2c2;

}

.tile {
    border: dotted 6px rgba(0, 0, 0, 0);
    transition: border ease 1s;
    position: relative;
}

.tile:nth-child(odd) {
    background-color: #6d85a5;
}

.tile:nth-child(even) {
    background-color: #6e5181;
}

.tile:hover {
    border: dotted 6px #a1de4d;
}

.selected.selected {
    border: solid 6px #a1de4d;
}

.tile.empty {
	border: none;
}

.center-1 {
    background-image: url("/assets/tiles/center-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center-2 {
    background-image: url("/assets/tiles/center-2.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center-3 {
    background-image: url("/assets/tiles/center-3.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center-4 {
    background-image: url("/assets/tiles/center-4.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center-5 {
    background-image: url("/assets/tiles/center-5.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center-6 {
    background-image: url("/assets/tiles/center-6.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-1 {
    background-image: url("/assets/tiles/mid-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-2 {
    background-image: url("/assets/tiles/mid-2.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-3 {
    background-image: url("/assets/tiles/mid-3.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-4 {
    background-image: url("/assets/tiles/mid-4.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-5 {
    background-image: url("/assets/tiles/mid-5.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.mid-6 {
    background-image: url("/assets/tiles/mid-6.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-1 {
    background-image: url("/assets/tiles/outer-1.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-2 {
    background-image: url("/assets/tiles/outer-2.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-3 {
    background-image: url("/assets/tiles/outer-3.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-4 {
    background-image: url("/assets/tiles/outer-4.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-5 {
    background-image: url("/assets/tiles/outer-5.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.outer-6 {
    background-image: url("/assets/tiles/outer-6.svg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
