@font-face {
    font-family: Playwrite;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/Playwrite.ttf);
}
body{
	background-color:#e57b8e;
	font-family: Playwrite;
}
button {background-color:#f3e88a; border: dotted 5px #54cfc4; 
        border-radius: 20px; padding: 22px 50px}

button:hover {background-color:lightseagreen;
			  cursor:pointer;
			  transform: translate(34px)}
h1 {color: #f3e88a; border-bottom: dotted 5px #54cfc4;}
