<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="utf-8">
	<title>Solvent</title>
	<meta http-equiv="Content-Type" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Solvent - Your simple to-do list">

	<link rel="stylesheet" href='{{asset "main.css"}}'>
	<link rel="icon" type="image/svg" href='{{asset "favicon.ico"}}'>
	<script defer src='{{asset "htmx.min.js"}}'></script>
	<script defer src='{{asset "Sortable.min.js"}}'></script>
	<script defer src='{{asset "main.js"}}'></script>
  </head>

  <body>
	<dialog id="error-dialog" class="ToDoList">
	  <form method="dialog">
		<p id="error-content">
		  {{.}}
		</p>
		<button class="confirm">OK</button>
	  </form>
	</dialog>

	<div id="content">
      <header>
        <div class="ListViewHeader header">
		  {{block "left-action" .}}{{end}}
		  <a href="/lists">
			<h1 class="HeaderTitle">Solvent</h1>
		  </a>
		  {{block "right-action" .}}{{end}}
		</div>
	  </header>

	  {{with .Msg}}
	  <div class="error-msg">
		{{.}}
	  </div>
	  {{end}}

	  {{block "content" .}} <p>The correct content could not be rendered.</p> {{end}}
	</div>
  </body>

</html>
