{{define "left-action"}}
{{end}}

{{define "content"}}

<form method="POST" action="/lists/{{.Identifier}}"
	  class="ToDoList" data-quick-submit>
  <a href="/lists/{{.Identifier}}">Cancel</a>
  <button>Save</button>
  <textarea data-auto-grow name="text-patch" autofocus>{{.String}}</textarea>
</form>

{{end}}
