{{define "left-action"}}
{{end}}

{{define "content"}}

<form method="POST" action="/lists/{{.ID}}"
	  class="ToDoList" data-quick-submit>
  <input type="hidden" name="timestamp" value="{{.UpdatedAt}}" />
  <textarea data-auto-grow name="text-patch" autofocus>{{.String}}</textarea>
  <div id="ToDoListFooter">
	<a href="/lists/{{.ID}}" class="cancel">Cancel</a>
	<button class="confirm">Save</button>
  </div>
</form>

{{end}}
