{{define "content"}}

<p>
  Get stuff done. Own your data.
</p>

<div class="ToDoList">
  <div id="TodoListBody">
	<h1 class="ToDoListTitle">
	  Get started now!
	</h1>
	<a href="/login.html" class="confirm">Login</a>
  </div>
</div>

{{end}}
