{{define "content"}}

<div class="DetailViewMain">
  {{block "toDoListOnly" .}}
  <div class="ToDoList {{if .IsCompleted}}checked{{end}}">
	<a href="/lists/{{.Identifier}}/edit">Edit</a>
    <textarea class="ToDoListTitle" name="title"
			  placeholder="Title" style="height: 48px !important;">{{.Title.Value}}</textarea>
    <div class="ToDoListBody">

	  {{range .GetOrderedItems true}}
	  <div class="ToDoItems">
		<div class="ToDoItem {{if .Checked}}checked{{end}}">
		  <button class="ToDoItemCheckbox"
				  {{if .Checked}}
				    hx-delete="/lists/{{$.Identifier}}/items/{{.Identifier}}/check"
				  {{else}}
				    hx-put="/lists/{{$.Identifier}}/items/{{.Identifier}}/check"
				  {{end}}
				  hx-target="closest .ToDoList"
				  hx-swap="outerHTML">
		  	<svg width="24" height="24" viewBox="0 0 24 24">
		  	  <path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path>
		  	</svg>
		  </button>
		  <textarea class="ToDoItemTitle" style="height: 24px !important;">{{.Title}}</textarea>
		  <button class="ToDoItemDelete">
		  	<svg width="24" height="24" viewBox="0 0 24 24">
		  	  <path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z"></path>
		  	</svg>
		  </button>
		  <span class="ToDoItemDragHandle" tabindex="0" role="button">
		  	<svg width="24" height="24" viewBox="0 0 24 24">
		  	  <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
		  	</svg>
		  </span>
		</div>
	  </div>
	  {{end}}

    </div>
  </div>
  {{end}}
</div>

{{end}}
