{{define "content"}}

<div class="ToDoList">
  <form method="POST" action="/lists/{{.ID}}/quick-edit"
		id="ToDoItemForm"
		hx-post="/lists/{{.ID}}/quick-edit"
		hx-trigger="end, change target:.ToDoItem>input">

	{{block "toDoListOnly" .}}
	<div>
	  <a href="/lists/{{.ID}}/edit" id="edit-link" class="edit">Edit</a>
	  <h1 class="ToDoListTitle {{if .Done}}checked{{end}}">
		{{.Title}}
	  </h1>

	  <div class="ToDoItems sortable">
		{{range .Items}}
		<div class="ToDoItem">
		  <input type="hidden" name="{{.Title}}" value="" />
		  <input type="checkbox" name="{{.Title}}" id="{{.Title}}"
				 {{if .Checked}}checked{{end}} />
		  <label for="{{.Title}}"
				 class="ToDoItemCheckbox action"></label>
		  <span class="ToDoItemTitle">{{.Title}}</span>
		  <span class="ToDoItemDragHandle sortHandle" tabindex="0" role="button">
			<svg width="24" height="24" viewBox="0 0 24 24">
			  <path d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path>
			</svg>
		  </span>
		  <button class="ToDoItemDeleteButton" hidden
				  hx-delete="/lists/{{$.ID}}/items/{{.Title}}"
				  hx-trigger="delete-item from:closest .ToDoItem"
				  hx-confirm="Delete the selected to-do item?"
				  hx-target="#ToDoItemForm"
				  aria-label="delete item">
		  </button>
		</div>
		{{end}}
	  </div>
	</div>
	{{end}}
  </form>

  <form method="POST" action="/lists/{{$.ID}}/items"
		class="AddItemBar"
		hx-post="/lists/{{$.ID}}/items"
		hx-target="#ToDoItemForm">
	<button id="AddItemBarButton"
			type="submit"
			value=""
			aria-label="add item"
			disabled>
	</button>
	<input type="text" name="title" id="AddItemBarTitle"
		   placeholder="New item" />
  </form>
</div>

{{end}}
