{{define "content"}}

<input id="listViewSearch"
	   type="search"
	   placeholder="Search"
	   autofocus />

<div id="listViewSearchResult" class="hidden">
</div>

<div id="listViewOverview">
  <span class="ListViewToDoListsTitle">Open</span>

  <form method="POST" action="/lists">
	<button class="ListViewAddListButton">
	  <svg width="24" height="24" viewBox="0 0 24 24">
		<path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
	  </svg>
	</button>
  </form>

  {{range .Data.Open }}
  <a href="/lists/{{.ID}}">
	<button class="ListViewToDoList" tabindex="-1">
	  <span class="ListViewToDoListTitle">{{.Title}}</span>
	</button>
  </a>
  {{end}}

  <span class="ListViewToDoListsTitle">Done</span>

  {{range .Data.Completed }}
  <a href="/lists/{{.ID}}">
	<button class="ListViewToDoList checked" tabindex="-1">
	  <span class="ListViewToDoListTitle">{{.Title}}</span>
	</button>
  </a>
  {{end}}
</div>
{{end}}
