{{define "content"}} 

<div>
Kombüsen: 
<span id="comboCounter">
0
</span>
</div>

<div>
Max-Kombüsen: 
<span id="maxCounter">
0
</span>
</div>

<div class="grid">
  {{range $i, $n := .Data.Center}}
  <div class="tile">
	<div class="center-{{index $.Data.Center $i}}"></div>
	<div class="mid-{{index $.Data.Mid $i}}"></div>
	<div class="outer-{{index $.Data.Outer $i}}"></div>
  </div>
  {{end}}
</div>

{{end}}
