{{define "content"}} 

<div class="grid-5x5">
<div class="tile"> <div class="center-1"> </div> <div class="mid-1"> </div> <div class="outer-1"> </div> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
</div>

{{end}}
