{{define "content"}} 

<div class="grid-5x5">
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
<div class="tile"> </div>
</div>

{{end}}
