{{define "title"}} Daily Riff {{end}}
{{define "description"}} Daily Riff {{end}}
{{define "content"}} 

<h1>Daily Riff</h1>

<h2>{{.Data.Scale.Name}}</h2>
<p>{{.Data.Scale.String}}</p>

<h2>Chords</h2>
<ul>
{{range .Data.Scale.Chords}}
    {{$sep := ""}}
    <li>{{.Name}} - {{range .Notes}} {{$sep}} {{.ShortName}} {{$sep = "-"}} {{end}}</li>
{{end}}
</ul>

<h2>On the fretboard</h2>
<div class="code-block">
    <pre>{{.Data.Fretboard.String}}</pre>
</div>
{{end}}
