{{define "title"}} Articles {{end}}
{{define "description"}} All articles from all time. {{end}}
{{define "content"}}

<h1>Articles</h1>

<p>All articles from all time:</p>

<div class="articles">
  <ul>
  {{range .Data}}
    <li>
      <span class="timestamp">{{.CreatedAtString}}</span><br>
      <a href="/articles/{{.UrlEncodedTitle}}">{{.Title}}</a>
    </li>
  {{end}}
  </ul>
</div>

{{end}}
