{{define "title"}} {{.Title}} {{end}}
{{define "content"}}
<article class="h-entry">
  <div style="display: none;">
    <a class="u-url" href="{{.Permalink}}"></a>
    <a class="p-author h-card" href="{{.HomePage}}">eldelto</a>
  </div>

  {{.Content}}
</article>
{{end}}
