{{define "title"}} {{.Data.Title}} {{end}}
{{define "content"}}
<article class="h-entry">
  <div style="display: none;">
    <a class="u-url" href="{{.Data.Permalink}}"></a>
    <a class="p-author h-card" href="{{.Data.HomePage}}">eldelto</a>
  </div>

  {{.Data.Content}}
</article>
{{end}}
