<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{block "title" .}} eldelto.net {{end}}</title>
  <meta http-equiv="Content-Type" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{block "description" .}} eldelto's personal blog {{end}}">

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="icon" type="image/svg" href="/assets/favicon.ico">
  <link rel="alternate" type="application/atom+xml" href="/feed">
</head>

<body>
  <nav id="nav-bar">
    <a href="/" id="nav-logo">
      <img src="/assets/delto-white.svg" alt="Delto logo" width=30>
    </a>
    <a href="/articles">Articles</a>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
  </nav>
  <div id="content">
    {{block "content" .}} <p>The correct content could not be rendered.</p> {{end}}
  </div>
</body>

</html>
