<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/main.css">
  <script src="/assets/index.js"></script>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/projects">Projects</a>
    <a href="/cv">CV</a>
  </nav>
  <div id="content">
    {{block "content" .}} <p>The correct content could not be rendered.</p> {{end}}
  </div>
</body>

</html>