{{define "content"}}

<h1>Welcome!</h1>

<p>
  Here you can find one or the other helpful programming related tutorial,
  some music clips (soon), a rundown of all my hobby projects and in the future
  some posts documenting my slow descent into madness while I try to tame the
  entangled mess that is the modern IT landscape.
</p>
<p>
  If you want to reach out feel free to send an E-mail to
  <a href="mailto:eldelto77@gmail.com">eldelto77@gmail.com</a>.
  <br><br>
  Have fun!
</p>
<p>
  <cite>Now also available as <a href="/feed">⚛ Atom feed ⚛</a> !</cite>
</p>

{{end}}
