{{define "content"}}

<p>All articles from all time:</p>

<div class="sitemap">
  <ul>
  {{range .}}
    <li>
      <a href="/articles/{{.UrlEncodedTitle}}">{{.Title}}</a>
    </li>
  {{end}}
  </ul>
</div>

{{end}}