:root {
  --lpink: #f2c0a2;
  --dpink: #e98472;
  --lred: #c12323;
  --dred: #800e0e;
  --lgreen: #33a127;
  --dgreen: #126d30;
  --lblue: #4aa2c5;
  --dblue: #1867a0;
  --lbrown: #934226;
  --dbrown: #763b1f;
  --lyellow: #f7e26c;
  --dyello: #edb329;
  --organge: #e76d14;
  --white: #f2f2f9;
  --grey: #6a5fa0;
  --black: #161423;
}

body {
  background-color: var(--dbrown);
  color: var(--white);
  font-size: 1.2em;
  font-weight: 100;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Verdana;
}

h1 {
  color: var(--mgreen);
}

.header {
  display: flex;
  flex-direction: row;
  height: 3em;
  background-color: var(--lgreen);
  border-bottom: 3px solid var(--dgreen);
  justify-content: space-around;
  align-items: center;
}

.header > h1 {
  font-size: 1.5em;
  color: var(--dgreen);
}

#content {
  height: 90%;
  overflow: hidden;
  padding: .3em;
  display: flex;
  flex-direction:column;
}

#selected-plants {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#selected-plants > li {
    background-color: var(--lblue);
    border-bottom: 3px solid var(--dblue);
    border-right: 2px solid var(--dblue);
    color: var(--white);
    list-style: none;
    border-radius: 2px;
    padding: .2em .5em;
    padding-right: .2em;
    margin: .3em .3em;
    display: flex;
}

#selected-plants > li > span {
  border-right: 1px solid var(--dblue);
  padding-right: .4em;
}

#selected-plants > li > button {
  font-size: 1.8em;
  color: var(--dblue);
  line-height: .3em;
  padding: 0 .1em;
  padding-bottom: .3em;
  margin-left: .1em;
  cursor: pointer;
  border: none;
  background-color: var(--lblue);
}

.suggestion-area {
  overflow-y: auto;
  height: auto;
}

#suggestions {
    padding: 0;
}

#suggestions > li {
    background-color: var(--lblue);
    border-bottom: 3px solid var(--dblue);
    border-right: 2px solid var(--dblue);
    color: var(--white);
    list-style: none;
    border-radius: 2px;
    padding: .7em 1em;
    margin: .7em 0em;
}

#suggestions > li.good-companion {
    background-color: var(--lgreen);
    border-bottom: 3px solid var(--dgreen);
    border-right: 2px solid var(--dgreen);
    color: var(--white);
}

#suggestions > li.bad-companion {
    background-color: var(--lred);
    border-bottom: 3px solid var(--dred);
    border-right: 2px solid var(--dred);
    color: var(--white);
}

.button {
  font-size: 1em;
  cursor: pointer;
  background-color: var(--lgreen);
  color: var(--white);
  padding: .3em .7em;
  border-top: 0;
  border-left: 0;
  border-bottom: var(--dgreen) solid 3px;
  border-right: var(--dgreen) solid 2px;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--mpurple);
  color: var(--white);
  border-top: var(--lpurple) solid 3px;
  border-left: var(--lpurple) solid 3px;
  border-bottom: var(--dpurple) solid 3px;
  border-right: var(--dpurple) solid 3px;
}

.text-input {
  font-size: 1em;
  background-color: var(--white);
  color: var(--black);
  padding: .3em .7em;
  border-top: var(--black) solid 3px;
  border-left: var(--black) solid 2px;
  border-bottom: 0;
  border-right: 0;
  border-radius: 2px;
}


