Subject: Mealplanner - Share Invite
From: eldelto.net <no-reply@eldelto.net>
Content-Type: text/html; charset="UTF-8"

  <!DOCTYPE html>
  <html>
	<body style="background-color: #14bca8;">

	  <div style="padding: 20px; border-radius: 10px; background-color: #f6f7eb; border: dashed 1px black;">

		<h1>Share Invite</h1>

		<p><b>{{.Data.UserEmail}}</b> invited you to share recipes.</p>
		<p style="margin-bottom: 20px;">Click the following link to accept
		  the share and start cooking together:</p>

		<a style="background-color: #14bca8; border-radius: 6px;
				  border-bottom: solid 2px #21897e; color: #f6f7eb;
				  padding: 7px 15px; text-decoration: none;"
		   href='{{.Data.Host}}/user/shares/invite/accept?user={{.Data.UserID}}'>Accept</a>

		<p style="opacity: .5; margin-top: 30px;">If you don't want to accept
		  this invite you can safely ignore this E-mail.</p>
	  </div>

	</body>
  </html>
