{{define "content"}}
  <p>
    Some random paragraph to see how text looks on the background.
  </p>

  <div class="selected-area">
    <ul id="selected-plants"></ul>
  </div>

  <form onsubmit="return selectFirstPlant()">
    <input type="text" id="plant-search" class="text-input"
           placeholder="Plant name..."
           autofocus
           oninput="search()">
    <input type="submit" class="button" value="Select">
  </form>

  <div class="suggestion-area">
    <ul id="suggestions"></ul>
  </div>

  <script>
    const plantGuilds = new Map(Object.entries(JSON.parse({{ .PlantLexiconJSON }})))
  </script>
{{end}}
