{{define "content"}} 

<form method="POST" action="{{.CurrentURL}}"
	  enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" class="button" value="Upload">
</form>

<ul>
  {{range .Entries}}
  <li>
    {{if .IsDir}}
    <a href="{{$.CurrentURL.JoinPath .Name}}">{{.Name}}</a>
    {{else}}
    <a href="{{$.CurrentURL.JoinPath .Name}}?download=true">{{.Name}}</a>
    {{end}}
  </li>
  {{end}}
</ul>

{{end}}
