:root {
	--white: #ffffff;
	--black: #141414;
	--highlight: #a01ed9;
	--light-highlight: #d174fa;
	--ultra-light-highlight: rgba(209, 116, 250, 0.31);
	--dark-highlight: #631685;
	--dark: rgb(0, 23, 62);
}

@font-face {
    font-family: Atkinson;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/Atkinson-Hyperlegible-Regular-102a.woff2);
}

@font-face {
    font-family: Atkinson;
    font-style: normal;
    font-weight: bold;
    src: url(/assets/Atkinson-Hyperlegible-Bold-102a.woff2);
}

@font-face {
    font-family: Atkinson;
    font-style: italic;
    font-weight: 400;
    src: url(/assets/Atkinson-Hyperlegible-Italic-102a.woff2);
}

@font-face {
    font-family: Atkinson;
    font-style: italic;
    font-weight: bold;
    src: url(/assets/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
}

.dir-list {
	border-collapse: separate;
}

.dir-list tbody tr.selected {
	outline: 2px solid red;
}

#upload-dialog {
	border: 3px solid black;
	box-shadow: 4px 2px 0 black;
}

#upload-dialog h2 {
	text-align: center;
	margin-top: .4em;
	margin-bottom: 1em;
}

#upload-dialog ul {
	list-style: none;
	padding: 0;
}

#upload-dialog li {
	border-top: 1px solid black;
	margin: .3em;
	padding: .5em;
}

#upload-dialog .ul-count {
	font-style: italic;
}

#upload-dialog progress {
	width: 100%;
}

.btn-cancel {
	padding: .4em 1em;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	background-color: #cd2626;
	border: none;
	box-shadow: 2px 1px 0 black;
}
