/*
  Fonts
  Pattaya
  Merriweather Sans
  Cabin
*/

:root {
	--text-color: black;
	--light-brand-color: #14bca8;
	--dark-brand-color: #21897e;
	--accent-color: #ff9f1c;
	--alert-color: #a20021;
	--inactive-opacity: .7;
	--inactive-opacity-light-bg: .3;
	--disabled-color: black;
	--disabled-opacity: .2;
	--light-background-color: #f6f7eb;
	--border-radius: 6px;
	--box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
	--far-box-shadow: 0px 7px 5px rgba(0, 0, 0, .3);
}

@font-face {
	font-family: 'Pattaya';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/assets/Pattaya-Regular.ttf?h=1);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content {
	width: 100%;
	max-width: 900px;
}

body {
	font-family: 'Cabin', sans-serif;
	background-color: var(--light-brand-color);
}

a {
	text-decoration: none;
}

input,
button,
textarea {
	border-radius: var(--border-radius);
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

input[type=text] {
	height: 100%;
}

input[type=text]::placeholder,
textarea::placeholder {
	color: var(--text-color);
	opacity: var(--inactive-opacity-light-bg);
}

input {
	font-size: 1em;
	margin: 0 .3em;
	padding: .5em;
	border: dashed 1px var(--text-color);
}

textarea {
	resize: none;
	line-height: 1.5em;
}

svg {
	width: 100%;
	height: 100%;
}

.header {
	height: 3.5em;
	padding: 0 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer {
	width: 100vw;
	height: 4em;
	padding: 0 1em;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.menuButton {
	height: 2.5em;
	width: 2.5em;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.menuButton > svg {
	fill: var(--light-background-color);
}

.ListViewToDoListsTitle {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: .5em 1em;
	border-bottom: solid 1px var(--light-background-color);
	color: var(--light-background-color);
	opacity: var(--inactive-opacity);
}

.ListViewToDoList {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1em;
	width: 100%;
	display: block;
	margin: 1em 0;
	padding: 0 1em;
	min-height: 3.5em;
	text-align: left;
	border: none;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	background-color: var(--light-background-color);
}

.ListViewToDoList.checked .ListViewToDoListTitle {
	text-decoration: line-through;
	opacity: var(--inactive-opacity-light-bg);
}

.ListViewAddListButton {
	width: 100%;
	font-size: 1em;
	height: 3.5em;
	display: block;
	margin: 1em 0;
	padding: 0 1em;
	border: 1px dashed var(--light-background-color);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
}

.ListViewAddListButton>svg {
	height: 70%;
	fill: var(--light-background-color);
}

button {
	cursor: pointer;
	transition: transform ease .1s;
}

.primary,
.secondary {
	text-decoration: none;
	cursor: pointer;
	transition: all ease .1s;
	font-size: 1em;
	padding: .3em .5em;
	align-items: center;
	display: flex;
}

.primary::before,
.secondary::before {
	content: "";
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	width: 2em;
	height: 1.5em;
	display: inline-block;
}


button:hover,
.primary:hover,
.secondary:hover {
	transform: translateY(-1px);
}

button:disabled:hover,
.primary:disabled:hover,
.secondary:disabled:hover {
	transform: none;
}

.primary {
	color: var(--light-background-color);
	background-color: var(--dark-brand-color);
	border: none;
	border-bottom: solid 2px var(--dark-brand-color);
}

.primary:hover {
	background-color: var(--light-brand-color);
}

.secondary {
	border: none;
	background: none;
	color: var(--dark-brand-color);
	opacity: var(--inactive-opacity);
}

.secondary:hover {
	opacity: 1;
	text-decoration: underline;
}

.confirm::before {
	background-image: url("/assets/icons/checked-white.svg?h=1");
}

.cancel {
	color: var(--alert-color);
}

.cancel::before {
	width: 0;
}

.edit::before {
	background-image: url("/assets/icons/edit.svg?h=1");
	background-size: 1.3em 1.3em;
	width: 1.7em;
}

.bulkEdit::before {
	background-image: url("/assets/icons/edit.svg?h=1");
	background-size: 1.3em 1.3em;
	width: 1.7em;
}

.share::before {
	background-image: url("/assets/icons/edit.svg?h=1");
	background-size: 1.3em 1.3em;
	width: 1.7em;
}

#editLink {
	float: right;
}

.ToDoList {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	background-color: var(--light-background-color);
}

.ToDoListTitle {
	margin: .3em 0 .3em 0;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: normal;
}

.ToDoListTitle.checked {
	text-decoration: line-through;
	opacity: var(--inactive-opacity-light-bg);
}

.ToDoListBody {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ToDoItem {
	width: 100%;
	min-height: 3em;
	padding: .4em 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: var(--light-background-color);
}

.checkboxForm {
	display: flex;
}

.ToDoItemCheckbox {
	height: 2em;
	width: 2em;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	opacity: var(--inactive-opacity-light-bg);
}

.ToDoItemCheckbox > img {
	height: 100%;
	width: 100%;
}

.ToDoItem.checked .ToDoItemCheckbox,
.ToDoItemCheckbox:hover {
	opacity: 1;
}

.ToDoItemTitle {
	flex-shrink: 10000;
	max-height: 5em;
	overflow-y: auto;
	font-size: 1em;
	margin: 0 .3em;
	padding: 0 .5em;
	flex-grow: 1;
	border: none;
	background: none;
}

.ToDoItem.checked > .ToDoItemTitle {
	text-decoration: line-through;
	opacity: var(--inactive-opacity-light-bg);
}

.ToDoItemDelete {
	height: 2em;
	width: 2em;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	visibility: hidden;
}

.ToDoItemTitle:focus+.ToDoItemDelete {
	visibility: visible;
}

.ToDoItemDragHandle {
	height: 1.5em;
	width: 1.5em;
	opacity: var(--inactive-opacity-light-bg);
	cursor: move;
}

.AddItemBar, #ToDoListFooter {
	height: 3em;
	width: 100%;
	padding: .4em 0 0 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#AddItemBarTitle {
	font-size: 1em;
	margin: 0 .3em;
	padding: 0 .5em;
	flex-grow: 1;
	border: none;
	background: none;
}

#AddItemBarButton {
	height: 2em;
	width: 2em;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	background-image: url("/assets/icons/plus-circle.svg?h=1");
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

#AddItemBarButton:disabled {
	background-image: url("/assets/icons/plus.svg?h=1");
	opacity: var(--disabled-opacity);
	cursor: default;
}

.HeaderTitle {
	margin: 0;
	font-size: 2em;
	text-align: center;
	flex-grow: 1;
	font-family: 'Pattaya', sans-serif;
	color: var(--light-background-color);
}

textarea[name="text-patch"] {
	width: 100%;
	background: none;
	border: none;
	font-size: 1em;
}

.deleting {
	transition: all 250ms ease;
	transition-delay: 250ms;
	background-color: var(--alert-color);
	color: var(--light-background-color);
}

.sortDrag {
	border: dashed 1px var(--text-color);
}

.sortGhost {
	opacity: 0;
}

.dialog {
	max-width: 450px;
	box-shadow: var(--far-box-shadow);
}

.dialog h2 {
	font-weight: normal;
	margin: .4em 0 1em 0;
}

.dialog::backdrop {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

.FakeTodoList {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: var(--light-background-color);
	border: dashed 1px var(--text-color);
}

#editDialog ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

#editDialog li {
	border-top: 1px solid rgba(0, 0, 0, .1);
	width: 100%;
	padding: .7em 0;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
}
